[submodule "nmea_navsat_driver"]
	path = nmea_navsat_driver
	url = https://github.com/umigv/nmea_navsat_driver.git
[submodule "arduino_teleop"]
	path = arduino_teleop
	url = https://github.com/umigv/arduino_teleop.git
[submodule "goat_launch"]
	path = goat_launch
	url = https://github.com/umigv/goat_launch.git
[submodule "Teleoperation"]
	path = Teleoperation
	url = https://github.com/umigv/Teleoperation.git
[submodule "transform_imu"]
	path = transform_imu
	url = https://github.com/umigv/transform_imu.git
[submodule "obstacle-detector"]
	path = obstacle-detector
	url = https://github.com/umigv/obstacle-detector.git
[submodule "phidgets_encoder"]
	path = phidgets_encoder
	url = https://github.com/umigv/phidgets_encoder.git
[submodule "umigv_utilities"]
	path = umigv_utilities
	url = https://github.com/umigv/umigv_utilities.git
[submodule "goat_description"]
	path = goat_description
	url = https://github.com/umigv/goat_description.git
[submodule "encoder_odometry"]
	path = encoder_odometry
	url = https://github.com/umigv/encoder_odometry.git
[submodule "goat_msgs"]
	path = goat_msgs
	url = https://github.com/umigv/goat_msgs.git
